/*Bu CSS comment satırıdır*/

html {
    font-size: 22px
}

body {
    background-color: #333;
    color: whitesmoke;
}

/*
yukarıda html bölümümüz için kullandığımız ve style elementinin içinde bulunan kısmı doğrudan kopyaladık buraya daha sonra bu CSS metnini html belgemize bağlayarak web sayfamızın nasıl görünüceğini belirleyeceğiz.
*/

